
<footer>
  <div class="container" >
    <div class="grid" >

      <div class="col-12 elementsContainerFooter" >

        <div style="display: flex;" >
          <p  >Entre em contato comigo</p>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/jefferson-richards-sena-de-souza-4110a3222/" target="_blank"> <i class=" pi pi-linkedin" ></i> </a>
          <a href="https://github.com/im2back" target="_blank"><i class=" pi pi-github" ></i></a>
          <a href="mailto:jeff.trabalho@outlook.com" target="_blank"><i class=" pi pi-envelope" ></i></a>
          <a href="https://api.whatsapp.com/send?phone=5591992415042" target="_blank"><i class=" pi pi-whatsapp" ></i></a>
          <a href="https://www.youtube.com/@JeffersonRichards1" target="_blank"><i class=" pi pi-youtube" ></i></a>
        </div>

        <div style="display: flex;" >
          <p  >Copyright © 2024 Designed by Jefferson</p>
        </div>

      </div>

    </div>
  </div>
</footer>


