footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #060419fa;
  text-align: center;
  line-height: 50px;
}

a{
  color: aliceblue;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 5px;
}

p{
  text-align: center;
  color: aliceblue;
  text-indent: 20px;
  font-size: 12px;
  overflow-wrap: break-word;
  line-height: 15px;
  font-family: 'Open Sans', sans-serif;
}


@media (max-width :1199px) {
  footer{
    position: fixed;
    height: 100px;
    background-color: #060419fa;
    text-align: center;
    line-height: 1px;
  }
}

@media(min-width: 100px) and (max-width:429px ){

p{
  font-size: 10px;
}

a{
  margin: 0px;
}

footer{
  height: 80px;
  line-height: 1px;
}

}

@media (min-width :1200px) and (max-width: 1284px) {
  footer{
    position: fixed;
    height: 100px;
    background-color: #060419fa;
    text-align: center;
    line-height: 1px;
  }
}


