
<footer>
  <div class="container" >
    <div>

      <div class="col-12" style=" padding: 100px; align-items: center; justify-content: center; display: flex;" >

        <a href="" target="_blank"><img loading="lazy" src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=flat&logo=linkedin&logoColor=white" target="_blank"></a>
        <a href="https://github.com/im2back" target="_blank"><img loading="lazy" src="https://img.shields.io/badge/GitHub-white.svg?style=flat&logo=github&logoColor=black" target="_blank"></a>
        <a href="mailto:jeff.trabalho@outlook.com" target="_blank"><img loading="lazy" src="https://img.shields.io/badge/Outlook-blue.svg?style=flat&logo=microsoftoutlook&logoColor=white" target="_blank"></a>
        <a href="https://api.whatsapp.com/send?phone=5591992415042" target="_blank"><img loading="lazy" src="https://img.shields.io/badge/WhatsApp-black.svg?style=flat&logo=whatsapp&logoColor=green" target="_blank"></a>

      </div>

    </div>
  </div>
</footer>


