


<div class="col-12 xl:col-12  texto" >
  <h3>Olá, Bem-vindo(a)</h3>
  <h1>Eu sou o Jefferson Richards</h1>
  <p>
    Estou no último semestre do curso de Análise e Desenvolvimento de Sistemas. Além disso, estou constantemente aprimorando minhas
     habilidades com cursos extracurriculares e projetos complementares. Meu portfólio inclui vários projetos, hospedados no GitHub,
     desenvolvidos e aprimorados conforme adquiro mais conhecimento. Especializo-me em desenvolvimento back-end com Spring Boot e Java, tenho conhecimento
     em Docker e ferramentas de CI/CD como Jenkins, além de usar SonarQube para verificação de qualidade de código. Também tenho
      habilidades em front-end, incluindo HTML, CSS, TS, JavaScript e Angular.
    </p>
</div>

<div class="col-12 xl:col-12 curriculoContainer" >
  <i class="pi pi-download text-1xl"  style="color: aliceblue;"> <a href="https://drive.google.com/file/d/1iUp1eftY9emDgJsdWWpTPyh9TvwTZWtI/view?usp=sharing"> Currículo</a></i>
</div>
                                                                                

