

p{
  text-align: center;
  color: aliceblue;
  text-indent: 20px;
  font-size: 18px;
  overflow-wrap: break-word;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.curriculoContainer{
  display: flex;
  align-items: center;
  justify-content: center;

}

@media (max-width :1199px) {

  p{
    font-size: 12px;
    line-height: 25px;
  }

}

@media (min-width: 1200px) and (max-width: 1348px) {
  p{
    font-size: 14px;
  }
}


@media(min-width: 286px) and (max-width: 516px)   {
  p{

    margin: 0px;
    text-align: center;
    color: aliceblue;
    text-indent: 20px;
    font-size: 10px;
    overflow-wrap: break-word;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
  }
}

@media (max-height: 760px) {

  p{
    font-size: 10px;
    line-height: 20px;
  }

}

@media (max-width: 349px) {

  p{
    font-size: 10px;
    line-height: 15px;
  }

}


@media (max-width: 270px) {

  p{
    text-align: center;
    color: aliceblue;
    text-indent: 20px;
    overflow-wrap: break-word;
    line-height: 15px;
    font-size: 9px;
  }

}
