<div class="col-12 xl:col-9 texto" >
  <p>Curso de Análise e Desenvolvimento de Sistemas, com enfoque em Java e Spring Boot. Além do curso superior,
    estou em constante aprimoramento das minhas habilidades através de cursos extracurriculares em plataformas digitais e projetos que
    complementam minha formação acadêmica. Meu portfólio conta com um projeto autoral disponível em meu repositório no GitHub, bem como
    diversos outros projetos elaborados ao longo de minha jornada educacional. Especializei-me em desenvolvimento back-end, utilizando
    principalmente Spring Boot e Java. Ademais, possuo conhecimentos em Docker e tenho familiaridade com ferramentas de automação de
    integração e entrega contínua (CI/CD), como Jenkins. Utilizo também o SonarQube para a verificação da qualidade do código. Contudo,
    também detenho conhecimentos de front-end, incluindo HTML, CSS e JavaScript e Angular.</p>
</div>

<div class="col-12 xl:col-8 curriculoContainer " >
  <i class="pi pi-download text-1xl"  style="color: aliceblue;"> <a href="https://drive.google.com/file/d/1YObJmkUL7tI0t2Nm92Lux-ijQ8qs2UGU/view?usp=drive_link"> Currículo</a></i>
</div>
