<div class="menu" >
  <div class="linksMenu"><a href="" [routerLink]="['/projetos']" routerLinkActive="router-link-active" >Projetos</a></div>
  <div class="linksMenu"><a href="" [routerLink]="['/certificados-front']" routerLinkActive="router-link-active" >Certificados Front-end</a></div>
  <div class="linksMenu"> <a href="" [routerLink]="['/certificados-back']" routerLinkActive="router-link-active" >Certificados Back-end</a></div>
  <div class="linksMenu"> <a href="" [routerLink]="['/certificados-ferramentas']" routerLinkActive="router-link-active" >Certificados Ferramentas</a></div>
</div>




