a{
  color: aliceblue;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;

}

a::before {
  content: ""; /* Propriedade obrigatória para ::before, pode ser vazia ou qualquer string */
  color: black; /* Definiria a cor do texto ou símbolo especificado em content */
}

a:hover {
  color: rgb(190, 243, 0); /* Altera a cor do link ao passar o mouse */
  border-color: yellowgreen;
  font-size: 20px;


}

@media(min-width: 286px) and (max-width:429px){
a{
  font-size: 12px;
}
}
