.menu{
  display: flex;
  flex-direction:row ;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: lighter;
  padding: 20px;
  margin: 20px;
}

a::before {
  content: "";
  color: black;
}

a:hover {
  transition: 1s;
  color: rgb(190, 243, 0);
  border-color: yellowgreen;
  font-size: 20px;
  font-weight: bold;
}

@media(min-width: 411px) and (max-width: 709px){
  a{
    font-size: 8px;
    padding: 2px;
    margin: 5px;
  }
  }

@media(min-width: 710px) and (max-width:999px){

  a{
    font-size: 15px;
    padding: 2px;
    margin: 5px;
  }

}

@media(max-width:410px){
  .menu{
    display: flex;
    flex-direction:row;
    align-items: center;
  }

  .linksMenu{
    margin-bottom: 4px;
  }

  a{
    font-size: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    text-align: center;
  }

}









