<div class="containerProjetos" style="  background-color: #01080E;">
    <div class="grid">
  
      <div class="col-12 tituloProjetoContainer">
        <h1 >Caderneta Digital 2.0</h1>
      </div>
  
      <div class="col-12 md:col-5 xl:col-4 painelContainer" >
        <div class="img-1">
          <img src="https://im2back.github.io/Portifolio/assets/utils/painel.svg">
        </div>
        <div class="img-2" >
          <p class="text-overlay text1" >Versionamento</p>
          <p class="text-overlay text3">Boas práticas</p>
          <p class="text-overlay text5">Teste Unitarios</p>
          <p class="text-overlay text6" >Perfis de Ambiente</p>
          <p class="text-overlay text7">Documentação</p>
          <p class="text-overlay text8" >Docker</p>
          <p class="text-overlay text9" >Microsserviços</p>
          <img src="https://im2back.github.io/Portifolio/assets/utils/painel2.svg" alt="">
        </div>
      </div>
  
      <div class="col-12 md:col-7 sobreProjeto" >
          <h2 >Sobre o  projeto</h2>
          <p>
            Esta aplicação tem como objetivo gerenciar pequenos comércios, abrangendo desde o controle de estoque até a administração das contas dos
             clientes. As compras realizadas pelos clientes serão registradas, permitindo a geração de métricas valiosas a partir dos dados coletados.
              Com essas informações, será possível identificar o produto mais vendido, determinar os dias ou meses com maior volume de vendas, entre
               outras análises importantes que poderão ser representadas através de gráficos. Também possui um sistema de notificação via E-mail afim de
               facilitar o envio de notas.
          </p>
      </div>
  
  
        <div class="col-12 md:col-12 xl:col-5 tituloTecnologias">
          <h1 style=" margin: 0px; ">Tecnologias</h1>
          <h1 style=" margin: 0px;">Utilizadas</h1>
        </div>
  
        <div class="col-12 md:col-12 xl:col-5">
          <app-card-tecnology  ></app-card-tecnology>
        </div>
  
        <div class="col-12">
          <div>
            <h1>Assista ! Consumindo e Explicando a API</h1>
          </div>
        </div>
  
          <div class=" video-container">
            <iframe src="https://www.youtube.com/embed/TzxQAzlENJ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <div class="col-12">
            <div>
              <h1>Prévias sobre a Refatoração. Assita !</h1>
            </div>
          </div>
    
            <div class=" video-container">
              <iframe src="https://www.youtube.com/embed/TzxQAzlENJ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe src="https://www.youtube.com/embed/DfYECgSrudg?si=NAeMeK4SE0BLnQw5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
            </div>
    </div>
    

  </div>
  <div class="containerProjetos" style=" padding: 0px; display: flex; background-color: rgba(240, 248, 255, 0.831); align-items: center; justify-content: center;">
    <div style="display: flex; flex-direction: column;" >
      <img style="padding: 0px; margin: 0px;" src="https://im2back.github.io/Portifolio/assets/utils/divisor.svg" width="100%"  alt="">
      <app-desafios-component></app-desafios-component>
    </div>
  </div>
  

  