a {
  text-decoration: none;
  color: rgb(255, 255, 255); /* Cor padrão do link */
  border-color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  letter-spacing: 5px;
  font-size: 20px;
}


a:hover {
  transition: 1s;

  padding-left: 50px;
  padding-right: 50px;
}

a::after {
  content: "";
  color: rgb(53, 197, 31);
}

a::before {
  content: "";
  color: rgb(252, 247, 242);
}

.navbar{
  background-color: rgba(0, 0, 0, 0.415);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}
