<div class="container" >
  <div class="grid" >

    <div class="col-12 cabecalhoContainer">
      <h1>Projetos</h1>
    </div>

    <div class="col-12 navbar " >
      <app-navbar></app-navbar>
    </div>

    <div class="col-12 xl:col-6">
      <div class= "imageContainer" >
        <img src="https://im2back.github.io/Portifolio/assets/projetos/Microsservices.png">
      </div>
    </div>

    <div class="col-12 xl:col-6 containerDescricao" >
        <h1>Avaliador de Crédito</h1>
        <p>Este é um projeto full stack que será implementado utilizando Angular e Spring Boot, seguindo a arquitetura de microsserviços. O projeto
           visa simular o processo de avaliação de crédito realizado por instituições bancárias, assim como a emissão de cartões de crédito baseada
           nos resultados dessa avaliação. Além disso, o projeto incluirá páginas de busca e cadastro, trabalhando, dessa forma, a persistência de
           dados. Foi desenvolvido com foco na aplicação de conhecimentos em áreas como testes unitários e automatizados, comunicação assíncrona via
            RabbitMQ, configuração de perfis de ambiente, gestão de banco de dados e seu versionamento, além de lógica de programação. Inclui também
             práticas como documentação de API, dockerização para facilitar a implantação, segurança da API com Keycloak, refatoração de código e
             tratamento de exceções personalizadas, com o objetivo de aprimorar a escalabilidade, disponibilidade e segurança do software..
             Para informações mais detalhadas basta acessar o arquivo "read.me" dos repositórios.</p>
            <div class="linksContainer">
              <a href="">Repositório Back-end</a>
              <a href="">Repositório Front-end</a>
            </div>

    </div>

  </div>
</div>
