.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

img{
  width: 300px;
  height: 200px;
}

.card{
  display: flex;
  justify-content: center;
}


h1{
text-align: center;
justify-content: center;
color: aliceblue;
margin-bottom: 50px;
}

p{
  font-size: 12px;
  margin: 0px;
}

a{
  text-decoration: none;
  border-color: aliceblue;
  font-size: 20px;
}

.navbar{
  font-size: 19px;
}

.container{
  padding: 50px;
}


@media(max-width: 400px){


  .container{
    padding: 20px;
  }

}

@media(max-width: 476px){


  h1{
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 20px;
  }

}


@media(max-width: 476px){

  h1{
    font-size: 20px;
  }
}


