
<div class="containerProjetos" style="  background-color: #01080E;">
    <div class="grid" >
  
      <div class="col-12 tituloDaPageContainer">
        <h1>Projetos</h1>
      </div>
  
      <div class="col-12 tituloProjetoContainer">
        <h1 >Avaliador de Crédito</h1>
      </div>
  
      <div class="col-12 md:col-5 xl:col-4 painelContainer" >
        <div class="img-1">
          <img src="https://im2back.github.io/Portifolio/assets/utils/painel.svg">
        </div>
        <div class="img-2" >
          <p class="text-overlay text1" >Versionamento</p>
          <p class="text-overlay text2" >Segurança</p>
          <p class="text-overlay text3">Boas práticas</p>
          <p class="text-overlay text4" >Mensageria</p>
          <p class="text-overlay text5">Teste Unitarios</p>
          <p class="text-overlay text6" >Perfis de Ambiente</p>
          <p class="text-overlay text7">Documentação</p>
          <p class="text-overlay text8" >Docker</p>
          <p class="text-overlay text9" >Microsserviços</p>
          <img src="https://im2back.github.io/Portifolio/assets/utils/painel2.svg" alt="">
        </div>
      </div>
  
      <div class="col-12 md:col-7 sobreProjeto" >
          <h2 >Sobre o  projeto</h2>
          <p>
            Este projeto, implementado com arquitetura de microsserviços, simula a avaliação de crédito por instituições financeiras e a
            emissão de cartões de crédito. Visa aplicar conhecimentos em testes unitários e automatizados, comunicação assíncrona com RabbitMQ,
             configuração de perfis de ambiente, versionamento de banco de dados com Flyway e documentação de API. Utiliza GitHub para versionamento
             , Docker para containerização e Keycloak para segurança da API. Além disso, aborda técnicas de parametrização de dados, refatoração de
              código e tratamento de exceções personalizadas.
          </p>
      </div>
  
  
        <div class="col-12 md:col-12 xl:col-5 tituloTecnologias">
          <h1 style=" margin: 0px; ">Tecnologias</h1>
          <h1 style=" margin: 0px;">Utilizadas</h1>
        </div>
  
        <div class="col-12 md:col-12 xl:col-5">
          <app-card-tecnology  ></app-card-tecnology>
        </div>
  
        <div class="col-12">
          <div>
            <h1>Assista ! Consumindo e Explicando a API</h1>
          </div>
        </div>
  
          <div class=" video-container">
            <iframe src="https://www.youtube.com/embed/mvriEntW628" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
    </div>
  </div>