
<div class="container">
  <div class="grid" style="padding: 10px;">

    <div class="col-12" >
      <app-cabecalho></app-cabecalho>
    </div>

    <div class=" col-12 containerMenu">
      <app-menu></app-menu>
    </div>

    <div class="col-12 xl:col-3" style="text-align: center; justify-content: center;"  >
      <img src="../../../assets/Foto.png" width="333px" height="333px" class="circle" >
    </div>

    <div class="col-12 xl:col-9 containerTexto" >
      <app-descricao></app-descricao>
    </div>

    <app-footer></app-footer>

  </div>
</div>

