
<div class="container">
  <div class="grid" style="padding: 10px;">

    <div class="col-12" >
      <app-cabecalho></app-cabecalho>
    </div>

    <div class=" col-12 containerMenu">
      <app-menu></app-menu>
    </div>

    <div class="col-12 xl:col-3 containerImage2"   >
      <img src="https://im2back.github.io/Portifolio/assets/Cartoon2.png" width="333px" height="333px" >
    </div>

    <div class="col-12 xl:col-8 containerTexto" >
      <app-descricao></app-descricao>
    </div>

    <div class="col-12 xl:col-3 containerImage"   >
      <img src="https://im2back.github.io/Portifolio/assets/Cartoon2.png" width="333px" height="333px" >
    </div>

    <app-email></app-email>

    <app-footer></app-footer>

  </div>
</div>

