

.containerMenu{
  margin-bottom: 60px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.containerImage{
  display: none;
 text-align: center;
 justify-content: center;
 margin-top: 15px;
}

.containerImage2 {
  display: none;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}



.containerTexto{
  padding-top: 50px;
}


@media (max-width :1199px) {

  .containerImage2 {
    display: block;
  }
  .containerTexto{
    padding-top: 0px;
  }

  .containerMenu{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 10px;
  }

  img{
    width: 200px;
    height: 200px;
  }

}

@media (min-width: 1200px) and (max-width: 1348px) {

  .containerMenu{
    margin-bottom: 100px;
    margin-top: 10px;
  }

  img{
    width: 300px;
    height: 300px;

  }

}

@media(min-width: 286px) and (max-width:486px){
  img{
    width: 150px;
    height: 150px;
  }
  .containerImage{
    margin-top: 15px;
   }
}

@media (max-height: 732px) {
  img{
    width: 150px;
    height: 150px;
  }
  .containerImage{
    margin-top: 15px;
   }
}

@media (max-height: 650px) {
  img{
    width: 100px;
    height: 100px;
  }
  .containerImage{
    margin-top: 15px;
   }
}

@media (max-width: 290px) {
  img{
    width: 90px;
    height: 90px;
  }
  .containerImage{
    margin-top: 15px;
   }
}

@media (min-width: 1200px) {

  .container{
    padding: 10px;
  }

  .containerImage {
    display: block;
  }

}



