

 body {
  margin: 0;
  padding: 5px;
  background-image: linear-gradient(to bottom right, #000000, #04026B, #4B4A7D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}


@media (min-width :1920px) {
  .container{
    width: 1902px;
    margin: 0 auto;
  }
}


.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: transparent;
  border: 7px solid #000; /* Ajuste a espessura da borda e a cor conforme necessário */


}


