@import 'primeflex/primeflex.css';


 body {
  margin: 0;
  padding: 2px;
  background-color: #01080E;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

@media (min-width :1920px) {
  .container{
    width: 1900px;
    margin: 0 auto;

  }

  .containerProjetos{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
}



