strong{
  color: rgba(169, 58, 58, 0.752);
}

h1{
  color: aliceblue;
  text-align: center;
  font-family: 'Montserrat', sans-serif;



}




@media(max-width:1199px){
  h1{
    font-size: 15px;
  }
}

@media (max-height: 600px) {

  h1{
    font-size: 12px;
    margin: 0px;
}

}

@media (max-width: 429px) {

  h1{
    font-size: 12px;
    margin: 0px;
}

}

@media (max-width: 350px) {

  h1{
    font-size: 10px;
    margin: 0px;
}

}

@media (max-width: 297px) {

  h1{
    font-size: 8px;
    margin: 0px;
}

}
