
<div class="containerProjetos" >
  <div class="grid">
    <div class="col-12 cabecalhoContainer">
      <h1>Projetos</h1>
    </div>

    <div class="col-12 navbar " >
      <app-navbar></app-navbar>
    </div>

  </div>
</div>

<div class="containerLetreiro">
  <div class="grid" >

    <div class="col-8" style=" display: flex; align-items: center; justify-content: center;">
      <p class="textoLetreiroContainer">Projeto</p>
    </div>

    <div class="col-9" style=" display: flex; align-items: center; justify-content: center;">
      <p class="textoLetreiroContainer">Full</p>
    </div>

    <div class="col-10" style=" display: flex; align-items: center; justify-content: center;">
      <p class="textoLetreiroContainer">Stack</p>
    </div>

    <div class="col-12" style=" display: flex; align-items: center; justify-content: center;">
      <p class="nomeDoProjetoLetreiroContainer" >Avaliador de Crédito</p>
    </div>

  </div>
</div>

<div class="containerProjetos" >
  <div class="grid" >
    <app-descricao-component></app-descricao-component>
  </div>
</div>

<div class="containerProjetos" >
  <div class="grid" >

    <div class="col-12 containerItemImagesLinks" >
      <div class="grid"  >

        <div class="col-12 xl:col-4 md:col-12 qualificacoesContainer">
          <app-qualificacoes-component></app-qualificacoes-component>
        </div>

        <div class= "col-12 xl:col-5 md:col-6 imageContainer"  >
          <img class="imgProjeto" src="https://im2back.github.io/Portifolio/assets/projetos/Microsservices2.png">
        </div>



        <div class= "col-12 xl:col-3 md:col-3 linksContainer" >
          <div class="grid" >

            <div class="col-12" style="display: flex; justify-content: center;" >
              <h2>Confira os repositórios</h2>
            </div>

            <div class="col-12" style="display: flex; justify-content: center;" >
                <a class="grid" href="https://github.com/im2back/Project-MicroserviceArchitecture">
                  <img class="col-3" src="https://im2back.github.io/Portifolio/assets/icons/github-icon.svg" >
                  <span class="col-9" >Back-end</span>
                </a>
            </div>

            <div class="col-12" style="display: flex; justify-content: center;" >
              <a class="grid" href="https://github.com/im2back/credit-appraiser-UI">
                <img class="col-3" src="https://im2back.github.io/Portifolio/assets/icons/github-icon.svg" >
                <span class="col-9" >Front-end</span>
              </a>
          </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>


